html {
  scroll-behavior: smooth;

}

body {
  background-color: lightskyblue;
}

#Container{
  background-color: lightskyblue;
}

em {
  color: rgb(57, 28, 126);
}

hr {
  color: black;
}

h1 {
  font-size: 55px;
}

h3 {
  color: rgb(0, 75, 145);

}

img {
  width: 100px;
  height: auto;
  border: 1px solid white;
  margin-bottom: 25px;
  border-radius: 20%;
}

a {
  color: rgb(54, 33, 107);
}

table,
th,
td {
  background-color: rgb(124, 176, 223);
  border: 1px solid black;
  text-align: center;
}

.Style{
  position: relative;
  right: 75px;
  left: 0px;
}

#Formulario {
  background-color: rgba(187, 89, 182, 0.452);
  color: aqua;
  border: 3px solid white;
  margin: auto;
  padding: 5px;
}

header {
  background-color: rgb(71, 111, 163);
  height: auto;
  width: 100%;
  text-align: center;
  Line-height: auto;
  border: 3px;
  border-style: solid outset;
}

nav{
  background:lightblue ;
  height: 90px;
  width: 100%;
  border: 1px solid black;
  margin: 10px 1px;
  padding-bottom: 15px ;
}

.Menu{
  float: left;
}

.clearfix{
  clear:both
}

#Content{
  float: left;
  width: 80%;
  background: lightskyblue;
  height: 100%;
  margin: auto;
  padding: auto;
}

Aside{
  float: left;
  width: calc(20% - 20px);
  background: lightgreen;
  border: 3px solid black;
  height: 2255px;
  text-align: center;
  line-height: center;
  margin: auto;
  margin-top: 5px;
  margin-left: 10px;
}

footer{
  color: aliceblue;
  background: rgb(0, 0, 0);
  text-align: center;
  height: 50px;
  line-height: 50px;
  margin: auto;
}
